.background {
  height: 100vh;
}
.box {
  width: 100%;
  height: 90%;
  background-color: #202020;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  box-shadow: 0px 5px 15px rgba(86, 122, 251, 0.5);
}
.box-list {
  width: 486px;
  opacity: 1;
  z-index: 1000;
  background-color: #000000;
  box-shadow: 0px 5px 15px #000000;
  border-radius: 8px;
  overflow: hidden;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  text-transform: capitalize;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00b0f0;
  padding: 15px 10px;
}

.box-list input {
  background-color: rgba(75, 75, 75, 0.25) !important;
  outline: 0 !important;
  font-size: 18px !important;
  padding-left: 30px !important;
  color: #00b0f0 !important;
}
.email {
  border: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.25) !important;
  border-radius: 15px;
  height: 57px;
}
.add {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.button-login {
  height: 50px;
  width: 100%;
  background: #00b0f0;
  box-shadow: 5px 0px 10px rgba(194, 222, 255, 0.25);
  border-radius: 12px;
}

.button-login {
  background-color: #00b0f0;
}
.button-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
