.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body::-webkit-scrollbar {
  height: 0;
  width: 0;
}
tr>th,tr>td{
  text-align: center !important;
}
